{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Карта{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center fw-bolder">Голос</h1>
        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ form.non_field_errors|as_crispy_errors }}

            <div class="row">
                <div class="col-md-4">
                    <img src="{{ card.image.url }}"
                         alt="{{ card }}"
                         class="img-fluid">
                </div>
                <div class="col-md-8">

                    <div class="row ">
                        <div class="col-sm-2 col-4 pt-2">
                            {{ form.design|as_crispy_field }}
                        </div>
                        <div class="pt-2 col-sm-2 col-4">
                            {{ form.balance|as_crispy_field }}
                        </div>
                        <div class="col-sm-2 col-4 pt-2">
                            {{ form.realisation|as_crispy_field }}
                        </div>
                        <div class="col-sm-2 col-4 pt-2">
                            {{ form.mistakes|as_crispy_field }}
                        </div>
                        <div class="col-sm-2 col-4 pt-2">
                            {{ form.idea|as_crispy_field }}
                        </div>
                        <div class="col-sm-2 col-4 pt-2">
                            <label for="result" class="form-label">Итог:</label>
                            <input class="form-control" type="text" id="result" disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form.comment|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="d-grid gap-2 col-md-12 mx-auto">
                <label class="form-label"> </label>
                <button type="submit" class="btn btn-primary mb-3">Сохранить карту</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('id_design').onchange =
            document.getElementById('id_balance').onchange =
                document.getElementById('id_realisation').onchange =
                    document.getElementById('id_mistakes').onchange =
                        document.getElementById('id_idea').onchange =
                            window.onload = function () {

                                var result = parseInt(document.getElementById('id_design').value) +
                                    parseInt(document.getElementById('id_balance').value) +
                                    parseInt(document.getElementById('id_realisation').value);
                                result = result * (1.0 - parseInt(document.getElementById('id_mistakes').value) / 10);
                                result = result * (1.0 + parseInt(document.getElementById('id_idea').value) / 10);

                                document.getElementById('result').value = Math.round(result);
                            };
    </script>
{% endblock %}