{% load static %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" src="{% static 'favicon/favicon.ico' %}"
                 alt="pass">
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a class="nav-link {% if request.path == '/' %} fw-bold {% endif %} link-dark "
                   href="{% url 'homepage:home' %}">Главная</a>
            </li>

            {% if user.is_authenticated %}
                <li><a type="button"
                       class="nav-link {% if request.path == '/cards/' %} fw-bold {% endif %} link-dark"
                       href="{% url 'cards:list' %}">Мои карты</a>
                </li>
            {% else %}

                <li><a type="button"
                       class="nav-link {% if request.path == '/users/login/' %} fw-bold {% endif %} link-dark"
                       href="{% url 'users:login' %}">Вход</a>
                </li>
            {% endif %}
        
        {% if user.is_staff %}
            <li><a type="button"
                   class="nav-link link-dark"
                   href="/admin/">Админ панель</a>
            </li>
        {% endif %}

        </ul>
    </header>
</div>